<h1>Create a simulated Trustfile datasource</h1>
This datasource will generate and posting sales/refunds for a given state to Trustfile to test sample returns.
<br>To remove this data, just delete the datasource.
<p>
<%= render 'form' %>
